.inputContainer {
  --flow-spacer: 1rem;

  @media screen and (width <= 600px) {
    --flow-spacer: 2rem;
  }
}

.inputRow {
  display: grid;
  grid-template-columns: 30% 1fr auto;
  gap: 1rem;
  align-items: center;
  grid-template-areas: 'name value button';

  @media screen and (width <= 600px) {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      'name button'
      'value button ';
  }
}

.inputRow__name {
  grid-area: name;
}

.inputRow__value {
  grid-area: value;
}

.inputRow__button {
  grid-area: button;
}
