.editorContainer:not([data-disabled]) {
  box-sizing: content-box;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 0.25rem;
  overflow: hidden;
}

.editorContainer:not([data-disabled]):hover {
  border-color: rgba(0, 0, 0, 1);
}

.editorContainer:not([data-disabled]):focus,
.editorContainer:not([data-disabled]):focus-within {
  border: 2px solid #673ab7;
}

.editorContainer:not([data-disabled]):focus > .editor,
.editorContainer:not([data-disabled]):focus-within > .editor {
  margin: -1px;
  overflow-y: auto;
}
